.App {
  text-align: center;
}
.card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
}
.category {
  display: flex;
  justify-content: center;
 
}
h4 {
  margin: 20px;
  padding: 20px;
}
.category-cart {
  display: flex;
  justify-content: space-around;
}